<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage" >
        <Configuration>
          <CodeCoverage>
            <ModulePaths>
              <Exclude>
                <ModulePath>.*tests.dll</ModulePath>
                <ModulePath>.*Tests.dll</ModulePath>
                <ModulePath>.*Microsoft.*</ModulePath>
				<ModulePath>.*FluentValidation.*</ModulePath>
              </Exclude>
            </ModulePaths>

            <Functions>
              <Exclude>
                <Attribute>^System\.Diagnostics\.CodeAnalysis\.ExcludeFromCodeCoverageAttribute$</Attribute>
                <Function>^.*\.get_.*$</Function>
                <Function>^.*\.set_.*$</Function>
              </Exclude>
            </Functions>

            <Attributes>
              <Exclude>
                <Attribute>^System\.Diagnostics\.CodeAnalysis\.ExcludeFromCodeCoverageAttribute$</Attribute>
              </Exclude>
            </Attributes>
            
            <Sources>
              <Exclude>
                <Source>.*\\Migrations\\.*</Source>
                <Source>.*\\DTOs\\.*</Source>
              </Exclude>
            </Sources>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>