name: Deploy Production from Template

on:
  push:
    branches:
      - master
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: Production

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"

      - name: Prepare AppSettings
        run: |
          cp WebAPI/appsettings.Template.json appsettings.Production.json
          sed -i '/^[[:blank:]]*\/\//d' appsettings.Production.json
          sed -i 's|[[:blank:]]\+//.*||g' appsettings.Production.json

      - name: Inject Secrets
        uses: microsoft/variable-substitution@v1
        with:
          files: "appsettings.Production.json"
        env:
          AllowedHosts: ${{ secrets.ALLOWED_HOSTS }}
          ConnectionStrings.StringConnection: ${{ secrets.DB_CONNECTION }}
          Jwt.Key: ${{ secrets.JWT_KEY }}
          Jwt.Issuer: ${{ secrets.JWT_ISSUER }}
          Jwt.Audience: ${{ secrets.JWT_AUDIENCE }}
          ProtectedAuthorizationEntities.SuperRoles.0: ${{ secrets.SUPER_ROLES }}
          ProtectedAuthorizationEntities.ProtectedUsers.0: ${{ secrets.PROTECTED_USERS }}

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Publish
        run: dotnet publish --configuration Release --no-build --output ./publish

      - name: Move AppSettings to Publish Folder
        run: cp appsettings.Production.json ./publish/

      - name: Clean Remote Directory
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            rm -rf /home/anhemmot/projects/anhemmotor-backend/*

      - name: Copy Files via SCP
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          source: "./publish/*"
          target: "/home/anhemmot/projects/anhemmotor-backend"
          strip_components: 1

      - name: Execute Remote SSH Commands
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            sed -i 's/\r$//' /home/anhemmot/scripts/restart_app.sh
            chmod +x /home/anhemmot/scripts/restart_app.sh
            bash /home/anhemmot/scripts/restart_app.sh
