name: Run All Tests

on:
  pull_request:
    branches: ["master", "main"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore

      - name: Run Integration Tests
        run: dotnet test IntegrationTests/IntegrationTests.csproj --no-build --verbosity minimal --logger "console;verbosity=minimal"
        env:
          Logging__LogLevel__Default: "Warning"
          Logging__LogLevel__Microsoft.EntityFrameworkCore.Database.Command: "None"

      - name: Run Controller Tests
        run: dotnet test ControllerTests/ControllerTests.csproj --no-build --verbosity minimal --logger "console;verbosity=minimal"
        env:
          Logging__LogLevel__Default: "Warning"
          Logging__LogLevel__Microsoft.EntityFrameworkCore.Database.Command: "None"

      - name: Run Unit Tests
        run: dotnet test UnitTests/UnitTests.csproj --no-build --verbosity minimal --logger "console;verbosity=minimal"
        env:
          Logging__LogLevel__Default: "Warning"
          Logging__LogLevel__Microsoft.EntityFrameworkCore.Database.Command: "None"
